streamlit==1.47.0
opencv-python-headless
numpy<2
pandas
altair
insightface
onnxruntime
mediapipe==0.10.14
protobuf==4.25.3
scikit-learn
tqdm
Pillow
fpdf2
imageio-ffmpeg

# backend API
fastapi
uvicorn[standard]
python-multipart